// TYPOGRAPHY

// FONTS
$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', serif;

// COLORS

$black: #232227;
$grey: #b2b1b8;
$green: #0be0b0;
$bgGrey: #f8f9f7;
$bgBlue: #4fd5ed;
$ftBlue: #032973;
$ftGrey: #cccccc;

