article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  border: 1.8rem solid #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

html {
  overflow-x: hidden; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

img {
  display: block; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a {
  text-decoration: none; }

h1 {
  font-size: 104px;
  font-weight: 700;
  line-height: 100px;
  text-align: left;
  top: 70%;
  text-transform: uppercase; }

h2 {
  color: #232227;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 400;
  font-size: 25px;
  line-height: 0px;
  margin-bottom: 15px; }

h3 {
  font-family: PlayfairDisplay;
  position: relative;
  left: 50%;
  font-size: 25px;
  /* Approximation due to font substitution */
  font-weight: 400;
  text-transform: lowercase;
  color: #b2b1b8; }

h4 {
  font-size: 100px;
  font-weight: 700;
  line-height: 78.971px;
  margin-top: 10px; }

h5 {
  color: #232227;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.97px; }

h6 {
  color: #cccccc;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #232227;
  right: 100%;
  top: 0;
  transform: translateY(-100%); }

h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 76px;
  background: #b2b1b8;
  left: -23px; }

.header {
  margin: 0 auto;
  height: 100vh;
  line-height: 50px;
  background: url("../../assets/coffee.svg") left 28% top 15%/40px no-repeat, url("../../assets/dog.svg") left 12% top 50%/150px no-repeat, url("../../assets/light.svg") left 80% top 80%/50px no-repeat, url("../../assets/wifi.svg") left 60% top 10%/60px no-repeat, url("../../assets/code.svg") left 90% top 30%/50px no-repeat, linear-gradient(to right, #4facfe 0%, #00f2fe 100%); }

.aboutMe {
  padding-top: 150px;
  padding-bottom: 150px;
  background: url("../../assets/dots.png") left 110% top 0%/400px no-repeat, url("../../assets/dots.png") left 0% top 90%/400px no-repeat, url("../../assets/cn.svg") left 25% top 20%/150px no-repeat, url("../../assets/bike.svg") left 65% top 10%/75px no-repeat; }

.portfolioPieces {
  padding-top: 100px;
  background-color: #f8f9f7; }

.introduction {
  position: absolute;
  top: 35%; }

.occupation {
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  top: 65%; }

.headerContainer {
  width: 50%;
  margin: 0 auto;
  line-height: 78px; }

.arrowContainer.fa-angle-down {
  color: black;
  font-size: 60px;
  transition: all 0.7s; }

.arrowContainer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 70px;
  transition: all 1s; }

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce; }

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

.wow {
  animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-30px); }
  60% {
    -o-transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

.headshot {
  border: 1rem solid #F8FAFA; }

.aboutMeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; }

.meContainer {
  display: flex;
  margin-top: 70px; }

.summary {
  padding-top: 30px;
  padding-left: 100px;
  color: black;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Knockout 50 A', 'Knockout 50 B'; }

.paragraph--One {
  padding-bottom: 50px; }

.paragraph--Two {
  padding-bottom: 25px; }

.container {
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  width: 100%;
  transition: ease-in-out 0.3; }

.container--react {
  margin-top: 70px; }

.portfolioPieceBlurb--react,
.portfolioPieceBlurb--js {
  position: relative;
  right: 140px; }

.portfolioPieceBlurb--api,
.portfolioPieceBlurb--psd {
  position: relative;
  left: 140px; }

.container--api {
  display: flex;
  flex-direction: row-reverse; }

.container--psd {
  display: flex;
  flex-direction: row-reverse; }

.container img {
  display: flex;
  align-items: center;
  margin: 0 auto;
  transition: ease-in-out 0.3s;
  width: 100%; }

.container img:hover {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.8);
  transform: scale(2); }

.portfolioPieceImage {
  border: 1rem solid #F8FAFA;
  left: 0;
  width: 50%;
  position: relative;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.6);
  transition: all 1s; }

.overlay {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  opacity: 0.5;
  transition: ease-in-out 0.3s; }

.portfolioPieceImage:hover .overlay {
  opacity: 0; }

.portfolioPieceBlurb {
  width: 40%;
  background: white;
  border: 0.4em #000 solid;
  opacity: 1;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: ease-in-out 0.3s; }

.portfolioPieceBlurb--psd h3,
.portfolioPieceBlurb--api h3 {
  text-align: right; }

ul.projectType {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  color: #232227;
  font-size: 13px;
  font-weight: 700;
  line-height: 30px; }

.projectType--api {
  display: flex;
  justify-content: flex-end; }

.projectType--psd {
  display: flex;
  justify-content: flex-end; }

.projectType--api li,
.projectType--psd li {
  padding-left: 10px; }

.projectType--react li,
.projectType--js li {
  padding-right: 10px; }

.portfolioDescription {
  font-family: 'Knockout 50 A', 'Knockout 50 B';
  color: #b2b1b8;
  font-size: 16px; }

.portfolioDescription--api,
.portfolioDescription--psd {
  text-align: right; }

.linkemb {
  color: #b2b1b8; }

.even {
  text-align: right; }

.button {
  color: #4facfe;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  border: none;
  background: none;
  text-transform: uppercase; }

.buttons--react,
.buttons--js {
  display: flex; }

.buttons--react a,
.buttons--js a {
  margin-right: 20px; }

.buttons--api,
.buttons--psd {
  display: flex;
  justify-content: flex-end; }

.buttons--api a,
.buttons--psd a {
  margin-left: 20px; }

.button::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  transition: width .3s; }

.button:hover::after {
  width: 100%; }

footer {
  padding-top: 50px;
  text-align: center; }

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  border: 1rem solid #F8FAFA; }

.contact {
  color: black;
  text-transform: uppercase;
  font-weight: bold; }

.email {
  color: black;
  font-size: 25px;
  font-weight: 400;
  line-height: 52.97px;
  transition: all 0.3s; }

.email:hover {
  color: #4facfe; }

.email::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  transition: width .3s; }

.email:hover::after {
  width: 100%; }

.icons1 {
  display: flex;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 0.4em #000 solid; }

.icons1 i {
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 25px; }

.icons i {
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 25px;
  color: black;
  transition: all 0.5s; }

.fa-facebook-square:hover {
  color: #DDA0DD; }

.fa-instagram:hover {
  color: blue; }

.fa-medium:hover {
  color: #ADFF2F; }

.fa-twitter-square:hover {
  color: #FF4500; }

.fa-linkedin-square:hover {
  color: #FF1493; }

.fa-github-square:hover {
  color: yellow; }

.finalWords {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

.copywrite {
  font-size: 12px;
  font-weight: 400;
  line-height: 30px; }

@media (max-width: 1272px) {
  .aboutMe {
    background: url("../../assets/cn.svg") left 20% top 20%/150px no-repeat, url("../../assets/dots.png") left 110% top 0%/400px no-repeat, url("../../assets/dots.png") left 0% top 90%/400px no-repeat; }
  .summary {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px; } }

/* Portrait tablet and small desktops */
@media (max-width: 1071px) {
  .wrapper {
    padding: 20px; }
  h1, h4 {
    font-size: 75px;
    line-height: 75px; }
  h2, h3 {
    font-size: 20px; }
  .aboutMe {
    background: url("../../assets/dots.png") left 110% top 0%/400px no-repeat, url("../../assets/dots.png") left 0% top 90%/400px no-repeat, url("../../assets/cn.svg") left 15% top 15%/150px no-repeat, url("../../assets/bike.svg") left 100% top 10%/0px no-repeat; }
  .meContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center; }
  .summary {
    margin-right: 40px;
    padding-left: 80px; }
  .portfolioPieceBlurb {
    width: 50%; }
  .footerContainer {
    display: flex;
    flex-direction: column; }
  .contact {
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    padding-top: 25px; } }

@media (max-width: 940px) {
  .header {
    display: none; }
  .portfolioPieceBlurb {
    width: 50%; }
  .portfolioPieceBlurb--react,
  .portfolioPieceBlurb--js {
    position: relative;
    right: 25px; }
  .portfolioPieceBlurb--api,
  .portfolioPieceBlurb--psd {
    position: relative;
    left: 25px; } }

/* Landscape phone to portrait tablet */
@media (max-width: 860px) {
  .aboutMe {
    background: url("../../assets/dots.png") left 110% top 0%/400px no-repeat, url("../../assets/dots.png") left 0% top 90%/400px no-repeat, url("../../assets/cn.svg") left 10% top 15%/150px no-repeat, url("../../assets/bike.svg") left 100% top 10%/0px no-repeat; }
  .container {
    display: flex;
    flex-direction: column; }
  .portfolioPieceBlurb {
    width: 100%;
    right: 0;
    left: 0;
    text-align: center; }
  .portfolioPieceImage {
    width: 100%; }
  .container img:hover {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.8);
    transform: scale(2); }
  .portfolioPieceBlurb {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .portfolioPieceBlurb--psd h3,
  .portfolioPieceBlurb--api h3 {
    text-align: center; }
  ul.projectType {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    color: #232227;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px; }
  .projectType--api {
    display: flex;
    justify-content: flex-start; }
  .projectType--psd {
    display: flex;
    justify-content: flex-start; }
  .projectType--api li,
  .projectType--psd li {
    padding-right: 10px;
    padding-left: 0; }
  .projectType--react li,
  .projectType--js li {
    padding-right: 10px; }
  .portfolioDescription--api,
  .portfolioDescription--psd {
    text-align: center; }
  .even {
    text-align: center; }
  .buttons--react,
  .buttons--js {
    display: flex;
    justify-content: center; }
  .buttons--react a,
  .buttons--js a {
    margin-right: 20px; }
  .buttons--api,
  .buttons--psd {
    display: flex;
    justify-content: center; }
  .buttons--api a,
  .buttons--psd a {
    margin-left: 20px; } }

@media (max-width: 760px) {
  .aboutMe {
    background: url("../../assets/dots.png") left 110% top 0%/300px no-repeat, url("../../assets/dots.png") left 0% top 90%/300px no-repeat, url("../../assets/cn.svg") left 10% top 15%/100px no-repeat, url("../../assets/bike.svg") left 100% top 10%/0px no-repeat; }
  .summary {
    padding-left: 40px; } }

@media (max-width: 629px) {
  body {
    border: 0.5rem solid #000; }
  .aboutMe {
    background: url("../../assets/dots.png") left 110% top 0%/300px no-repeat, url("../../assets/dots.png") left 0% top 90%/300px no-repeat, url("../../assets/cn.svg") left 0% top 8%/100px no-repeat, url("../../assets/bike.svg") left 100% top 10%/0px no-repeat;
    padding-top: 75px;
    padding-bottom: 50px; } }

@media (max-width: 576px) {
  .aboutMe {
    background: url("../../assets/dots.png") left 110% top 0%/300px no-repeat, url("../../assets/dots.png") left 0% top 90%/300px no-repeat, url("../../assets/cn.svg") left 5% top 5%/100px no-repeat, url("../../assets/bike.svg") left 100% top 10%/0px no-repeat;
    padding-top: 75px;
    padding-bottom: 50px; }
  .headshot img {
    border-radius: 50%;
    width: 300px;
    margin: 0 auto; }
  .headshot {
    border: none; }
  h1, h4 {
    font-size: 50px;
    line-height: 40px; }
  .summary {
    text-align: center;
    padding: 15px;
    margin: 0; }
  .paragraph--One {
    padding-bottom: 25px; }
  .email {
    font-size: 20px; }
  .icons i {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px; }
  .icons1 p {
    font-size: 15px; } }

@media (max-width: 465px) {
  .aboutMe {
    background: url("../../assets/dots.png") left 110% top 0%/200px no-repeat, url("../../assets/dots.png") left 0% top 90%/300px no-repeat, url("../../assets/cn.svg") left 5% top 10%/75px no-repeat; } }

@media (max-width: 420px) {
  .aboutMe {
    background: url("../../assets/dots.png") left 110% top 0%/200px no-repeat, url("../../assets/dots.png") left 0% top 90%/300px no-repeat, url("../../assets/cn.svg") left 5% top 0%/75px no-repeat; }
  .headshot img {
    border-radius: 50%;
    width: 250px;
    margin: 0 auto; }
  .summary {
    font-size: 17px; }
  .portfolioPieceBlurb {
    padding: 10px; }
  ul.projectType li {
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0px; }
  .contact {
    font-size: 15px; }
  .email {
    font-size: 17px; }
  .icons1 p {
    font-size: 13px; } }
